.profileDetails{
    padding-left: 15px;
    padding-right: 15px;
}


.profileDetailsTextField > div > input {
    color: #2B2B2B !important;
}

.MuiCardActions-root > .MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium{
    background-color: rgba(var(--bs-tertiary-bg-rgb)) !important;
    color: var(--bs-body-color) !important; 
    font-family: inherit !important;
}

.MuiCardActions-root > .MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium:disabled{
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: gray !important;
}