.comment-feed-container {
    display: flex;
    justify-content: center;
  }
  
.comment-feed {
  max-width: 600px;
  margin: 0 auto; /* center */
  padding: 0 15px; /* padding for smaller screens */
  width: 100%; /* fluid width until max-width is hit */
}

.comment-item {
  border-bottom: 1px solid rgb(239, 243, 244);
  padding: 12px 33px 12px 33px !important;

}

.comment-item:first-child {
  border-top: 1px solid rgb(239, 243, 244);
}

.comment-item.dark-mode{
  border-bottom: 1px solid rgb(47, 51, 54);
}

.comment-item.dark-mode:first-child{
  border-top: 1px solid rgb(47, 51, 54);
}
  
/*placeholders for content virtualization strategy*/
.comment-placeholder {
  width: 100%;
  display: flex;
  padding: 12px;
}

.comment-content-placeholder {
  flex-grow: 1;
}

.comment-header-placeholder {
  height: 14px;
  background-color: #f0f0f0;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 50%;
}

.comment-text-placeholder {
  height: 60px;
  background-color: #f0f0f0;
  border-radius: 3px;
  width: 90%;
}

.dark-mode .comment-header-placeholder,
.dark-mode .comment-text-placeholder {
  background-color: #333;
}

.virtualized-comment-wrapper {
  width: 100%;
}
