.post-feed-container {
  display: flex;
  justify-content: center;

}

.post-feed {
  max-width: 600px;
  margin: 0 auto; 
  padding-top: 0 !important;  
  width: 100%; 
}

.post-item{
  padding: 0 !important;
  border-style: solid; 
  border-color: rgb(239, 243, 244);
  border-width: 1px 0 0 0;
}

.post-item:first-child {
  border-top: 1px solid rgb(239, 243, 244);
}

.post-item.dark-mode{
  border-color: rgb(47, 51, 54);
}

.post-item.dark-mode:first-child{
  border-top: 1px solid rgb(47, 51, 54);
}


.no-posts-available-text-container{
  padding-top: 10px;
  border-style: solid; 
  border-color: rgb(239, 243, 244);
  border-width: 1px 0 0 0;
}

.no-posts-available-text-container.dark-mode{
  border-color: rgb(47, 51, 54);
}

/*placeholders for content virtualization strategy*/
.post-placeholder {
  width: 100%;
  display: flex;
  padding: 16px;
}

.avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin-right: 12px;
  flex-shrink: 0;
}

.content-placeholder {
  flex-grow: 1;
}

.header-placeholder {
  height: 16px;
  background-color: #f0f0f0;
  border-radius: 3px;
  margin-bottom: 12px;
  width: 60%;
}

.text-placeholder {
  height: 80px;
  background-color: #f0f0f0;
  border-radius: 3px;
  width: 100%;
}

.dark-mode .avatar-placeholder,
.dark-mode .header-placeholder,
.dark-mode .text-placeholder {
  background-color: #333;
}

.virtualized-content-placeholder {
  width: 100%;
}

.virtualized-post-wrapper {
  width: 100%;
}