.post-feed-container {
  display: flex;
  justify-content: center;

}

.post-feed {
  max-width: 600px;
  margin: 0 auto; 
  padding-top: 0 !important;  
  width: 100%; 
}

.post-item{
  padding: 0 !important;
  border-style: solid; 
  border-color: rgb(239, 243, 244);
  border-width: 1px 0 0 0;
}

.post-item:first-child {
  border-top: 1px solid rgb(239, 243, 244);
}

.post-item.dark-mode{
  border-color: rgb(47, 51, 54);
}

.post-item.dark-mode:first-child{
  border-top: 1px solid rgb(47, 51, 54);
}


