.post-feed-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.post-feed {
  max-width: 600px;
  margin: 0 auto; /* Center */
  padding: 0 15px; /* padding for smaller screens */
  width: 100%; /* Fluid width until max-width is hit */
}

.post-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 0 !important;
}

.post-item:last-child {
  border-bottom: none;
}
