@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');


#root {
  width: 100%;
  text-align: center;
}
 /* background color change when light mode is toggled on. toggle is on themebutton.jsx */
:root {
  --bs-body-bg: aliceblue !important; 
}

body.light-theme {
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
}





body {
  font-family: "Mulish", sans-serif !important;
  color: inherit !important;
  background-color: inherit !important;
  margin: 0;
  display: flex;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

.appContainer{
  width: 100%;
  height: 100vh;
  display: flex;
}

.circularProgressContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}


/* color mode button */
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;

}

#activeIcon1{
  margin-right: 0 !important;

}

.dropdown-menu{
   background-color: inherit !important;
}

.dropdown-item{
  color: inherit !important;
  font-weight: 400 !important;
}

/* change the bottom-0 class that was added by bootstrap, to move the button to top */
.bottom-0 {
  top: 10px !important
}