.commentContentContainer{
  color: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0;
  padding-right: 0;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-name {
    font-weight: 600 !important;
    cursor: pointer;
    word-break: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.comment-name:hover {
    text-decoration: underline;
}

.comment-date {
    color: rgb(83, 100, 113) !important;
    margin-left: 10px;
}

.comment-date.dark-mode {
    color: rgb(113, 118, 123) !important;
}

.comment-content {
    color: rgb(15, 20, 25, 0.9);
    margin-top: 5px;
    display: block;
    margin-bottom: 1em; 
    padding: 0;
    overflow-wrap: break-word;
}

.comment-content.dark-mode {
    color: rgba(255, 255, 255, 0.7);
  }

.comment-item:last-child {
    border-bottom: none;
}
