.comment-modal{
    background-color: white;
    border: 1px solid gray;
}

.comment-modal.dark-mode{
    background-color: black;
    border: 1px solid black;
}

.commentModalReplyingToTextContainer{
    display: flex;
    align-items: center; 
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 31px;
}

.commentModalReplyingText{
    font-size: 13px !important;
}
