.comment-form-container {
  display: flex;
  border-top: 1px solid rgb(239, 243, 244); 
  max-width: 600px;
  margin: 0 auto; 
  padding: 15px 31px 8px; 
  width: 100%; 
}

.comment-form-container.dark-mode {
  border-top: 1px solid rgb(47, 51, 54);
}

.comment-input {
  font-family: "Public Sans", sans-serif !important;
  width: 100%;
  min-height: 60px; 
  border: none;
  outline: none;
  font-size: 16px; 
  color: inherit;
  background-color: transparent;
  resize: none;
  padding: 8px 0; 
  margin-left: 14px;
  margin-bottom: 8px; 
  line-height: 1.4;
  resize: none; 
  transition: height 0.2s ease;
  overflow-y: auto;  
  max-height: 200px;  

}


/* light mode color and scrollbars */
.comment-input {
  color: rgb(15, 20, 25);
  scrollbar-color: rgb(185, 202, 211) rgb(247, 249, 249); 
  scrollbar-width: thin; 
}

/* dark mode color and scrollbars */
.comment-input.dark-mode {
  color: rgba(255, 255, 255, 0.7);
  scrollbar-color: rgb(62, 65, 68) rgb(22, 24, 28);
}


.comment-input::placeholder {
  color: #888; 
  font-size: 16px; 
}

.comment-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  border-top: 1px solid transparent; 
  transition: border-top 0.3s ease-in-out;
}

.comment-actions-border-top-dark {
  border-top: 1px solid rgb(47, 51, 54);
}

.comment-actions-bottom-top {
  border-top: 1px solid rgb(239, 243, 244);
}

.emoji-button {
  padding: 4px;
}

.reply-button {
  border-radius: 9999px; /* Fully rounded button */
  background-color: #1da1f2;
  color: white;
  padding: 4px 16px; /* Adjusted padding for a more compact button */
  font-weight: bold; /* Bold text */
}

.emoji-picker {
  z-index: 10;
  bottom: 50px;
  left: 50px;
}


.characterCounterAndReplyBtnContainer{
  display: flex;
  gap: 15px;
}


/* character counter */
.character-counter {
  width: 40px; /* Adjust size */
  height: 40px; /* Adjust size */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.counter-normal {
  background-color: #1da1f2; /* Default color */
}

.counter-warning {
  background-color: #f5a623; /* Yellow color */
}

.counter-error {
  background-color: #e0245e; /* Red color */
}