.followButton:disabled{
  color: gray !important;
}

.followButton.dark-mode:disabled{
  color: darkgrey;
}


/*below 450px width */ 
@media (max-width: 450px){
    .followButton{
      font-size: 12px !important;
    }
  }