.msgBoxImg1{
    max-width: 30vw !important;
}

.homePageTop-container{
    margin-bottom: 0;
    border-style: solid; 
    border-color: rgb(239, 243, 244);
    border-width: 0 0 1px 0;
}

.homePageTop-container h1{
    margin-bottom: 0;
}

.homePageTop-container.dark-mode{
    border-color: rgb(47, 51, 54);
}

