
.usernameLinkOnPost{
  color: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  word-break: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.usernameLinkOnPost:hover{
  text-decoration: underline;
  cursor: pointer;
}

.avatarLink:hover{
  text-decoration: none !important;
}

.postDisplayContainer{
  width: 100%;
}

.singularPostLinkOnPost{
  color: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 0;
  padding-left: 31px;
  padding-right: 31px;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.singularPostLinkOnPost:hover{
  background-color: rgba(0, 0, 0, 0.03) !important;
  cursor: pointer;
}

.singularPostLinkOnPost.dark-mode:hover{
  background-color: rgba(255, 255, 255, 0.03) !important;
}

.postContentContainer{
  color: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0;
  padding-right: 0;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

  .postContentContainer{
    border-bottom-color: rgb(47, 51, 54);
    border-bottom-width: 1px;
  }

  
  .post-header {
    display: flex;
    justify-content: space-between;
  }
  
  .post-name {
    font-weight: 600 !important;
  }
  
  .post-date {
    color: rgb(83, 100, 113) !important;
    margin-left: 10px;
  }

  .post-date.dark-mode {
    color: rgb(113, 118, 123) !important;
  }
  
  .post-content {
    color: rgb(15, 20, 25, 0.9);
    margin-top: 5px;
    display: block;
    margin-bottom: 1em; 
    padding: 0;
    word-break: break-word; /* break long words to fit within the container */
    overflow-wrap: break-word; /* long words break to fit within the container */
  }

  .center-image{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-content.dark-mode {
    color: rgba(255, 255, 255, 0.7);
  }

  .post-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  

  .postLikeCommentCount{
    color: rgb(83, 100, 113) !important;
    margin-left: 5px !important;
  }

  .postLikeCommentCount.dark-mode {
    color: rgb(113, 118, 123) !important;
  }

  .postImg{
    max-width: 100%;  
    height: auto;     
    margin: 0 auto;  
    margin-top: 20px; 
  }

  .youtube-video-container {
    display: flex; 
    justify-content: center; 
    margin-top: 10px; 
  }

  .youtube-video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    max-width: 100%;
    background: #000;
    margin-bottom: 1rem;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

  /* general post action button styling */
    .icon-button {
        display: flex;
        align-items: center;
        transition: color 0.3s ease, text-shadow 0.3s ease;
        z-index: 999;
    }

    .icon-button {
      transition: background-color 0.3s ease;
    }
    
    .liked {
      animation: like-animation 0.3s forwards;
    }
    
    @keyframes like-animation {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }

  
  /*like button hover effect */
  .like-button:hover {
    color: #f91880;
    text-shadow: 0 0 10px #f91880;
  }
  
  .like-button:hover .MuiSvgIcon-root {
    color: #f91880;
  }
  
  .like-button:hover .postLikeCommentCount {
    color: #f91880;
    text-shadow: 0 0 10px #f91880;
  }
  
  /*comment button hover effect */
  .comment-button:hover {
    color: #1d9bf0;
    text-shadow: 0 0 10px #1d9bf0;
  }
  
  .comment-button:hover .MuiSvgIcon-root {
    color: #1d9bf0;
  }
  
  .comment-button:hover .postLikeCommentCount {
    color: #1d9bf0;
    text-shadow: 0 0 10px #1d9bf0;
  }

/* link preview styling */
.postUrl{
  /* styling to prevent the <a> element disrupting the responsive design. (on lower width screens, <a> element widens up the post container, therefore disrupts the display of the navbar on screen)  */
  word-break: break-word; /* break long words to fit within the container */
  overflow-wrap: break-word; /* long words break to fit within the container */
  display: inline-block; /* link behaves like an inline element */
  max-width: 100%; /* make link does not exceed the container width */
}

.postUrl:hover{
  color: #1A4D80;
}

.postUrl.dark-mode{
  color: #4C78D6;
}

.postUrl.dark-mode:hover{
  color: #5A9BD5;
}

.link-preview-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.link-preview-image {
  width: 100%;
  height: auto;
}

.link-preview-details {
  display: block;
  padding: 10px;
}

.link-preview-title {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.link-preview-description {
  display: block;
  color: #555;
  margin-bottom: 5px;
  font-size: 0.9em;
}

.link-preview-link {
  display: block;
  color: #888;
  font-size: 1em;
  text-decoration: none;
}