.usernameLinkOnComment{
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

.usernameLinkOnComment:hover{
    cursor: pointer !important;
    text-decoration: underline !important;
}

