.profileContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* .profile-userCard-container{
    border-style: solid; 
    border-color: rgb(239, 243, 244);
    border-width: 1px 1px 0px 1px;
}

.profile-userCard-container.dark-mode{
    border-color: rgb(47, 51, 54);
  } */