.sidebarRight{
    border-left: 1px solid rgb(239, 243, 244);
    width: 250px;
    min-width: 250px;
    padding: 20px 20px;
    margin: 0;
    position: relative;
}

.sidebarRight-dark{
    border-left: 1px solid rgb(47, 51, 54);
    width: 250px;
    min-width: 250px;
    padding: 20px 20px;
    margin: 0;
    position: relative;
}

