.sidebarLeft{
    width: 250px;
    min-width: 250px;
    padding: 20px 20px;
    margin: 0;
    position: sticky; /* Make the sidebar sticky */
    top: 0; /* Align to the top of the viewport */
    height: 100vh; /* Full height of the viewport */
    overflow-y: hidden; /* Disable vertical scrolling for the sidebar */
    z-index: 1000; 
}

  /* below 1300px width */
  @media (max-width: 1300px) {

    .sidebarLeft{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        min-width: auto;
        width: auto;
    }
    .sidebarLogo {
        display: flex;
        justify-content: flex-end;
    }
    .sidebarLogo img{
        height: 50px;
        width: 50px;
        margin-right: 10px;
        margin-bottom: 10px !important;
    }

    #sidebarUserIconBtn p{
        display: none;
    }

    #sidebarUserIconBtn {
        width: fit-content !important;
        left: auto !important;
        right: 15px !important;
    }

    #sidebarUserIconBtn img{
    }
    
  }

  /* Below 650px width */ 
@media (max-width: 650px){
    .sidebarLeft {
        overflow-y: auto;
        overflow-x: auto ;
        padding: 20px 10px 20px 30px;
    } 

    .sidebarLogo img{
        height: 50px;
        width: 50px;
        margin-right: 8px;
        margin-bottom: 10px !important;
    }

    #sidebarUserIconBtn {
        right: 5px !important;
    }
}

  /* Below 400px width */ 
  @media (max-width: 400px){
    .sidebarLeft {
        padding: 20px 0px 20px 100px;
    } 

    #sidebarUserIconBtn {
        right: -5px !important;
    }
}

  

/* borders */
.sidebarLeft{
    font-weight: 400 !important;
    border-style: solid; 
    border-color: rgb(239, 243, 244);
    border-width: 0 1px 0 0;
}
  
.sidebarLeft.dark-mode{
    border-color: rgb(47, 51, 54);
}

.sidebarLogo img{
    height: 50px;
    width: 50px;
    user-select: none;
    margin-bottom: 2rem;
}

.sidebarLink{
    color: inherit;
    text-decoration: none;
}

#sidebarPostBtn{
    width: 100%;
    height: 50px;
    background-color: rgb(29, 155, 240);
    border-radius: 20px;
    color: white;
    font-weight: 700;
    text-transform: inherit;
    margin-top: 2rem;
    border-radius: 9999px;
}

#sidebarPostBtn:hover{
    background-color: rgb(26, 140, 216);
}



#sidebarUserIconBtn{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 12px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    right: 10px;
    border-radius: 20px;
    color: inherit;
    font-weight: 700;
    text-transform: inherit;
    margin-bottom: 0.5rem;
    margin-left: 0;
    border-radius: 9999px;
}


#sideBarAccountMenu .MuiPaper-root{
    margin-top: 0 !important;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px, rgba(255, 255, 255, 0.15) 0px 0px 3px;

}

#sidebarUserIconBtn3Dot{
    margin-top: 9px;
    margin-left: auto; /* pushes the three dots to the right */
}

.sidebarMenuItem{
    font-size: 14px !important;
}

.sidebarMenuIcon{
    margin-bottom: 2px;
}

.sidebarMenuLogoutIcon{
    margin-bottom: 1.5px;
}