.sidebarRight{
    width: 450px;
    min-width: 250px;
    padding: 20px 20px;
    margin: 0;
}

/* below 1050px width */
@media (max-width: 1050px) {
  .sidebarRight {
    display: none;
  }
}


/* borders */
.sidebarRight-container{
    border-style: solid; 
    border-color: rgb(239, 243, 244);
    border-width: 0 0 0 1px;
    position: sticky; /* make the sidebar sticky */
    top: 0; /* align to the top of the viewport */
    height: 100vh; /* full height of the viewport */
    overflow-y: hidden; /* disable vertical scrolling for the sidebar */
    z-index: 1000; 
}
  
.sidebarRight-container.dark-mode{
    border-color: rgb(47, 51, 54);
}


/* CONTENT */
.sidebarRight-section-card {
    margin-top: 20px;
    border-radius: 16px !important;
    border: 1px solid rgb(239, 243, 244) !important;
    background-color: inherit !important;
    --Paper-overlay: none !important; 
    --Paper-shadow: none !important; 
    width: 350px;
    text-align: left;
  }

  .sidebarRight.dark-mode .sidebarRight-section-card {
    border: 1px solid rgb(47, 51, 54) !important;
  }

  .sidebarRight-toggleTheme-card{
    margin-top: 0;
  }

  .sidebarRight-toggleTheme-card .MuiCardContent-root {
    padding-top: 0;
    padding-left: 0;
  }

  .sidebarRight-toggleTheme-card .MuiButtonBase-root {
    padding-left: 0;
  }


  .sidebarRight .sidebarRight-toggleTheme-card {
    border: none !important;
  }

  .sidebarRight.dark-mode .sidebarRight-toggleTheme-card {
    border: none !important;
  }

  .sidebarRight-section-card .MuiTypography-h6 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .sidebarRight-section-card .MuiListItem-root {
    padding-left: 0;
    padding-right: 0;
  }
  
  .sidebarRight-section-card .MuiButton-containedPrimary {
    background-color: #1da1f2;
    color: white;
    border-radius: 20px;
  }
  
  .sidebarRight-section-card .MuiButton-containedPrimary:hover {
    background-color: #0d8ddb;
  }

  .sidebarRightTitle{
    font-size: 20px !important;
    font-weight: 800 !important;
    margin-bottom: 20px;
  }

