.submitPost-modal{
    position: absolute;
    top: 50%;
    left: 49.52%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    height: 220px;
    border: 1px solid gray;
    box-shadow: 24px;
    padding-top: 24px;
    border-radius: 16px;
    background-color: white !important;
}

.submitPost-modal.dark-mode{
    background-color: black !important;
    border: 1px solid black;

}

.submitPost-modal .submitPost-form-container{
    padding-left: 20px
}


/*below 1300px width */
@media (max-width: 1300px) {
    #sidebarPostBtn {
      display: none; /*hide the button */
    }
  
    .leftSideBar-postIcon {
      display: block !important; /*show the icon */
    }
}
  
/* above 1300px width */
@media (min-width: 1301px) {
  .leftSideBar-postIcon {
    display: none !important; /* hide the icon */
  }
}