.user-card-profile {
  text-align: left;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: inherit !important;
  background-image: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.top-header{
  margin: 2px;
  margin-left: 15px;
  display: flex;
}

.top-header-backButton{
  display: flex;
  align-items: center;
  text-align: center;
}

.back-button {
  margin-right: 30px !important;
  height: 70%;
  width: 50%;
}

.header-background {
  width: 100%;
  height: 200px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  position: relative;
  border-radius: 0 !important;
  width: 70%;
}

.profile-content-and-followButton-container{
  display: flex;
  justify-content: space-between;
  border-radius: 0 !important;
  flex-wrap: wrap; /* Allow components to wrap when needed */
}

.follow-button-container{
  margin: 15px;
}


.card-content {
  padding-left: 2px !important;
  background-color: inherit;
}

.username, .userBio {
  width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.username{
  margin-top: 10px;
  font-weight: bold;
}

.userBio {
  margin-top: 15px !important;
  line-height: 2 !important;
  font-size: 15px !important;
  color: rgb(15, 20, 25) !important;
}

.userBio.dark-mode{
  color: rgb(231, 233, 234) !important;
}

.UserCardFollowersLink:hover{
  text-decoration: underline;
}

.userCardFollowerNumber{
  font-weight: bold;
  color: inherit;
}

.follow-info {
  display: flex;
  margin-top: 15px !important;
  gap:80px
}

.follow-link {
  text-decoration: none;
  color: #1DA1F2; 
}

.header-image{
  width: 100%; /* scale the image to fit the container width */
  height: auto; /* maintain the aspect ratio */
  object-fit: contain; /* ensure the image is contained within the container */
}

/*below 450px width */ 
@media (max-width: 450px){
  .editProfileButton{
    font-size: 12px !important;
  }

  .follow-button-container{
    margin-right: 2px !important;
  }
}
  
