.post-avatar{
    height: 40px !important;
    width: 40px !important;
}

.userCardProfile-avatar{
    height: 141.5px !important;
    width: 141.5px !important;
    margin-top: -95px !important;
    border-radius: 50% !important;
}

.editProfileModal-avatar{
    height: 141.5px !important;
    width: 141.5px !important;
    border-radius: 50% !important;
}

.hoverUserCard-avatar{
    height: 56px !important;
    width: 56px !important;
    border-radius: 50% !important;
    margin-right: 2px !important;
    margin-bottom: 4px !important;
}