.sidebarRight-section-card .MuiTypography-h6 {
    margin: 0;
    padding: 0;
}

.whatsHappening-listitem{
    width: 100%;
    transition: background-color 0.3s ease;
}

.whatsHappening-listitem:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.03) !important;
}

.whatsHappening-listitem.dark-mode:hover {
    background-color: rgba(255, 255, 255, 0.03) !important;
}