.whotoFollowListItem{
    display: flex;
    align-items: center;
    padding: 10px 16px !important;
}

.whotoFollowListItem:hover{
    background-color: rgba(0, 0, 0, 0.03) !important;
}

.whotoFollowListItem.dark-mode:hover{
    background-color: rgba(255, 255, 255, 0.03) !important;
}


.whotofollow-list-item-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.whotofollow-header{
    width: fit-content;
}

.whotofollow-name{
    font-size: 15px !important;
    font-weight: 500 !important;
    word-break: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.whotofollow-name:hover{
    text-decoration: underline;
}